@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

.my_city_click {
  background-color: green !important;
}

.citys_title h1 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 60px;
}

.rules_one p {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: blue;
  margin-top: 20px;
  font-size: 24px;
}

.citys_input {
  display: flex;
  justify-content: center;
  outline: none;
}

.rules_second {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 24px;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
}

.input {
  display: flex;
  justify-content: center;
  outline: none;
  margin: 10px;
  border-radius: 100px;
  color: #444;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
}

.input:hover {
  background-color: rgb(227, 227, 227);
}

.input::placeholder {
  color: #0e098f;
}

.input:focus {
  outline-color: rgb(179, 131, 226);
}

.todos {
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.todos li {
  border-top: 5px solid #868282;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem 2rem;
  width: 100%;
}

.todos li.completed {
  color: #240482;
  background-color: green;
  text-decoration: line-through;
}

small {
  font-weight: bold;
  color: #000000;
  margin-top: 3rem;
  text-align: center;
}
