.profile_click {
  background-color: green !important;
}

.profile {
  display: flex;
  justify-content: space-around;
}

.tours_title h1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-weight: bold;
  font-size: 60px;
}

.change_password {
  display: flex;
  justify-content: center;
  border-radius: 100px;
  margin: 100px;
}

.submit_btn {
  font-size: 30px;
  border-radius: 100px;
  background-color: blue;
  color: white;
}

.submit_btn:hover {
  background-color: green;
}

.change_password input {
  width: 300px;
  border-radius: 100px;
  font-size: 30px;
}
