.footer_tickets_click a {
  color: white;
  border-bottom: 5px solid white;
}

.tickets_click button {
  background-color: green;
}

.choice_parent {
  display: flex;
  justify-content: space-between;
}

.tickets_title h1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-weight: bold;
  font-size: 60px;
}

.tickets_title h2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-weight: bold;
  margin-bottom: 70px;
}

.tickets_btn {
  display: flex;
  justify-content: space-around;
  border: 5px dashed #0966a4;
  border-radius: 100px;
  margin: 50px;
}

.tickets_btn button {
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 15px;
  font-size: 24px;
  border-radius: 100px;
  font-weight: bold;
  margin: 50px;
}

.tickets_btn button:hover {
  background: green;
  font-weight: bold;
}
