@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,400&display=swap");
@import "../layout/navigation";
@import "../layout/footer";

* {
  font-family: "Lato", sans-serif;
}

body {
  font-size: 24px;
  background-image: url(../../../../background-color.jpg);
  padding: 10px;
  margin: 10px;
  background-repeat: repeat;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
